# [data download link](https://coast.noaagov/htdata/CMSP/AISDataHandler/2021/AIS_2021_01_01.zip)

In [39]:
import pandas as pd

In [40]:
data = pd.read_csv('data/AIS_2021_01_01.csv',header="infer")

data_copy = data.copy()

data

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
0,338325166,2021-01-01T00:00:20,28.088,-82.775,0.000,0.000,511.000,SALT WIFE,IMO0000000,NaN,37.000,NaN,13.000,6.000,NaN,NaN,B
1,368163740,2021-01-01T00:00:18,26.107,-80.126,0.000,360.000,511.000,TOTALLY EXCELLENT,IMO0000000,WDL7818,37.000,NaN,18.000,4.000,NaN,NaN,B
2,366811570,2021-01-01T00:00:23,30.662,-88.033,0.000,196.000,270.000,NATALIE H,IMO7200245,WDA4637,31.000,0.000,18.000,7.000,NaN,NaN,A
3,368140750,2021-01-01T00:00:24,30.231,-93.258,0.000,50.500,272.000,NaN,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A
4,368170010,2021-01-01T00:00:28,29.572,-90.594,0.000,316.200,197.000,NaN,NaN,NaN,NaN,13.000,NaN,NaN,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624807,369970581,2021-01-01T23:32:30,13.581,144.837,0.000,323.800,511.000,USN GUAM 1,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A
6624808,369970581,2021-01-01T23:38:41,13.581,144.837,0.000,312.100,511.000,USN GUAM 1,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A
6624809,369970581,2021-01-01T23:49:11,13.581,144.837,0.000,310.600,511.000,USN GUAM 1,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A
6624810,369970581,2021-01-01T23:52:41,13.581,144.837,0.000,309.500,511.000,USN GUAM 1,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A
6624811,369970581,2021-01-01T23:59:40,13.581,144.837,0.000,314.200,511.000,USN GUAM 1,NaN,NaN,NaN,15.000,NaN,NaN,NaN,NaN,A

In [41]:
pd.to_datetime(data['BaseDateTime'], errors='coerce')

data[['LAT', 'LON', 'SOG', 'COG', 'Heading', 'VesselType', 'Status', 'Length', 'Width', 'Draft']].apply(pd.to_numeric, errors='coerce')

data.dtypes

MMSI                  int64
BaseDateTime         object
LAT                 float64
LON                 float64
SOG                 float64
COG                 float64
Heading             float64
VesselName           object
IMO                  object
CallSign             object
VesselType          float64
Status              float64
Length              float64
Width               float64
Draft               float64
Cargo               float64
TranscieverClass     object
dtype: object

In [42]:
data2 = data.copy()
data2.drop(['VesselName', 'IMO', 'CallSign', 'SOG', 'COG', 'VesselType', 'Status','Length', 'Width', 'Draft', 'Cargo', 'TranscieverClass' ], inplace=True, axis=1)

In [43]:
data2

              MMSI         BaseDateTime    LAT     LON  Heading
0        338325166  2021-01-01T00:00:20 28.088 -82.775  511.000
1        368163740  2021-01-01T00:00:18 26.107 -80.126  511.000
2        366811570  2021-01-01T00:00:23 30.662 -88.033  270.000
3        368140750  2021-01-01T00:00:24 30.231 -93.258  272.000
4        368170010  2021-01-01T00:00:28 29.572 -90.594  197.000
...            ...                  ...    ...     ...      ...
6624807  369970581  2021-01-01T23:32:30 13.581 144.837  511.000
6624808  369970581  2021-01-01T23:38:41 13.581 144.837  511.000
6624809  369970581  2021-01-01T23:49:11 13.581 144.837  511.000
6624810  369970581  2021-01-01T23:52:41 13.581 144.837  511.000
6624811  369970581  2021-01-01T23:59:40 13.581 144.837  511.000

[6624812 rows x 5 columns]

In [44]:
data3 = data2.copy()

from IPython.display import display
pd.options.display.float_format = '{:,.3f}'.format

data3.duplicated(subset ='MMSI', keep = False)

0          True
1          True
2          True
3          True
4          True
           ...
6624807    True
6624808    True
6624809    True
6624810    True
6624811    True
Length: 6624812, dtype: bool

In [45]:
data3

              MMSI         BaseDateTime    LAT     LON  Heading
0        338325166  2021-01-01T00:00:20 28.088 -82.775  511.000
1        368163740  2021-01-01T00:00:18 26.107 -80.126  511.000
2        366811570  2021-01-01T00:00:23 30.662 -88.033  270.000
3        368140750  2021-01-01T00:00:24 30.231 -93.258  272.000
4        368170010  2021-01-01T00:00:28 29.572 -90.594  197.000
...            ...                  ...    ...     ...      ...
6624807  369970581  2021-01-01T23:32:30 13.581 144.837  511.000
6624808  369970581  2021-01-01T23:38:41 13.581 144.837  511.000
6624809  369970581  2021-01-01T23:49:11 13.581 144.837  511.000
6624810  369970581  2021-01-01T23:52:41 13.581 144.837  511.000
6624811  369970581  2021-01-01T23:59:40 13.581 144.837  511.000

[6624812 rows x 5 columns]

In [46]:
data3 = data3.groupby('MMSI').nth([0, -1])

In [47]:
data3

                   BaseDateTime    LAT      LON  Heading
MMSI
0           2021-01-01T00:17:29 21.316 -157.877  511.000
0           2021-01-01T23:42:33 21.316 -157.877  511.000
8           2021-01-01T01:53:48 47.554 -122.654  511.000
11          2021-01-01T23:51:00 27.292  -90.968  511.000
11          2021-01-01T01:11:53 27.292  -90.968  511.000
...                         ...    ...      ...      ...
983192134   2021-01-01T07:17:32 25.796  -80.146  511.000
983542775   2021-01-01T22:16:33 33.735 -118.154  511.000
983542775   2021-01-01T21:12:24 33.695 -118.124  511.000
1072211352  2021-01-01T22:54:23 33.611 -117.927   46.000
1072211352  2021-01-01T00:01:21 33.611 -117.927   46.000

[25043 rows x 4 columns]