In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../AIS_2021_01_01.csv',header="infer")

data_copy = data.copy()

data

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
0,338325166,2021-01-01T00:00:20,28.08771,-82.77474,0.0,0.0,511.0,SALT WIFE,IMO0000000,NaN,37.0,NaN,13.0,6.0,NaN,NaN,B
1,368163740,2021-01-01T00:00:18,26.10727,-80.12551,0.0,360.0,511.0,TOTALLY EXCELLENT,IMO0000000,WDL7818,37.0,NaN,18.0,4.0,NaN,NaN,B
2,366811570,2021-01-01T00:00:23,30.66150,-88.03264,0.0,196.0,270.0,NATALIE H,IMO7200245,WDA4637,31.0,0.0,18.0,7.0,NaN,NaN,A
3,368140750,2021-01-01T00:00:24,30.23140,-93.25791,0.0,50.5,272.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
4,368170010,2021-01-01T00:00:28,29.57223,-90.59391,0.0,316.2,197.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624807,369970581,2021-01-01T23:32:30,13.58122,144.83657,0.0,323.8,511.0,USN GUAM 1,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
6624808,369970581,2021-01-01T23:38:41,13.58121,144.83661,0.0,312.1,511.0,USN GUAM 1,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
6624809,369970581,2021-01-01T23:49:11,13.58121,144.83660,0.0,310.6,511.0,USN GUAM 1,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
6624810,369970581,2021-01-01T23:52:41,13.58121,144.83660,0.0,309.5,511.0,USN GUAM 1,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
6624811,369970581,2021-01-01T23:59:40,13.58121,144.83661,0.0,314.2,511.0,USN GUAM 1,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A

In [ ]:
data.columns = ['MMSI','BaseDateTime','LAT','LON','SOG','COG','Heading','VesselName','IMO','CallSign','VesselType','Status','Length','Width','Draft','Cargo','TranscieverClass']
data.drop(index=data.index[0], axis=0, inplace=True)

data_copy2 = data.copy()

print('The dataset has {} rows and {} columns'.format(data.shape[0], data.shape[1]))
print(data.describe())
print(data.head())
print(data.dtypes.value_counts())