# Finley's testing notebook

Data has been sourced from [MarineCadastre.gov AIS](https://marinecadastre.gov/ais/).

In [71]:
# Assign path to the CSV being worked with

CSV_PATH = '../AIS_2021_01_01.csv'

In [72]:
# Import necessary modules

import pandas as pd
import numpy as np

In [73]:
# Read data from CSV

data = pd.read_csv(CSV_PATH, low_memory=False)
data1 = data.copy()

data1.head(10)

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
0,338325166,2021-01-01T00:00:20,28.08771,-82.77474,0.0,0.0,511.0,SALT WIFE,IMO0000000,NaN,37.0,NaN,13.0,6.0,NaN,NaN,B
1,368163740,2021-01-01T00:00:18,26.10727,-80.12551,0.0,360.0,511.0,TOTALLY EXCELLENT,IMO0000000,WDL7818,37.0,NaN,18.0,4.0,NaN,NaN,B
2,366811570,2021-01-01T00:00:23,30.66150,-88.03264,0.0,196.0,270.0,NATALIE H,IMO7200245,WDA4637,31.0,0.0,18.0,7.0,NaN,NaN,A
3,368140750,2021-01-01T00:00:24,30.23140,-93.25791,0.0,50.5,272.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
4,368170010,2021-01-01T00:00:28,29.57223,-90.59391,0.0,316.2,197.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,A
5,538007847,2021-01-01T00:00:39,30.71185,-88.04063,0.0,11.2,169.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,A
6,338224348,2021-01-01T00:00:19,32.83470,-79.92896,0.1,342.2,511.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
7,368134490,2021-01-01T00:00:17,29.56063,-92.61208,0.2,47.5,511.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,A
8,333234990,2021-01-01T00:00:17,27.45076,-80.32039,0.0,264.9,511.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A
9,368120090,2021-01-01T00:00:16,29.95115,-90.01498,0.1,233.4,511.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A

| | Name | Description | Example | Units | Resolution | Type | Size |
| - | - | - | - | - | - | - | - |
| 1 | MMSI | Maritime Mobile Service Identity Value | 477220100 | | | Text | 8 |
| 2 | BaseDateTime | Full UTC date and time | 2017-02-01T20:05:07 | | YYYY-MM-DD:HH-MM-SS | DateTime | |
| 3 | LAT | Latitude | 42.35137 | decimal degrees | XX.XXXXX | Double | 8 | 
| 4 | LON | Longitude | -71.04182 | decimal degrees | XXX.XXXXX | Double | 8 |
| 5 | SOG | Speed Over Ground | 5.9 | knots | XXX.X | Float | 4 |
| 6 | COG | Course Over Ground | 47.5 | degrees | XXX.X | Float | 4 |
| 7 | Heading | True heading angle | 45.1 | degrees | XXX.X | Float | 4 |
| 8 | VesselName | Name as shown on the station radio license | OOCL Malaysia | | | Text | 32 |
| 9 | IMO | International Maritime Organization Vessel number | IMO9627980 | | | Text | 16 |
| 10 | CallSign | Call sign as assigned by FCC | VRME7 | | | Text | 8 |
| 11 | VesselType | [Vessel type as defined in NAIS specifications](https://coast.noaa.gov/data/marinecadastre/ais/VesselTypeCodes2018.pdf) | 70 | | | Integer | short |
| 12 | Status | Navigation status as defined by the COLREGS | 3 | | | Integer | short |
| 13 | Length | Length of vessel (see NAIS specifications) | 71.0 | meters | XXX.X | Float | 4 |
| 14 | Width | Width of vessel (see NAIS specifications) | 12.0 | meters | XXX.X | Float | 4 |
| 15 | Draft | Draft depth of vessel (see NAIS specifications) | 3.5 | meters | XXX.X | Float | 4 |
| 16 | Cargo | Cargo type (see NAIS specification and codes) | 70 | | | Text | 4 |
| 17 | TransceiverClass | Class of AIS transceiver | A | | | Text | 2 |

[View original source](https://coast.noaa.gov/data/marinecadastre/ais/data-dictionary.pdf)

In [74]:
# Convert data types of columns to what they are supposed to be

pd.to_datetime(data1['BaseDateTime'], errors='coerce')
data1[['LAT', 'LON', 'SOG', 'COG', 'Heading', 'VesselType', 'Status', 'Length', 'Width', 'Draft']].apply(pd.to_numeric, errors='coerce')

data1.dtypes

MMSI                  int64
BaseDateTime         object
LAT                 float64
LON                 float64
SOG                 float64
COG                 float64
Heading             float64
VesselName           object
IMO                  object
CallSign             object
VesselType          float64
Status              float64
Length              float64
Width               float64
Draft               float64
Cargo               float64
TranscieverClass     object
dtype: object

In [75]:
# Drop unnecessary columns

data1.drop(['VesselName', 'IMO', 'CallSign'], inplace=True, axis=1) # Drop extra unique identifiers to only use MMSI

These identifiers may actually be applicable for data validation. They could be used to ensure that the MMSI is in fact unique to the vessel and that it isn't switched around leading to unexpected behaviours.

In [76]:
# Create a subset of the data to play with

data2 = data1.head(100_000)

print('Entries:', data2.shape[0])
print('Columns:', data2.shape[1], data2.columns.to_list())

data2.head(10)

Entries: 100000
Columns: 14 ['MMSI', 'BaseDateTime', 'LAT', 'LON', 'SOG', 'COG', 'Heading', 'VesselType', 'Status', 'Length', 'Width', 'Draft', 'Cargo', 'TranscieverClass']

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
0,338325166,2021-01-01T00:00:20,28.08771,-82.77474,0.0,0.0,511.0,37.0,NaN,13.0,6.0,NaN,NaN,B
1,368163740,2021-01-01T00:00:18,26.10727,-80.12551,0.0,360.0,511.0,37.0,NaN,18.0,4.0,NaN,NaN,B
2,366811570,2021-01-01T00:00:23,30.66150,-88.03264,0.0,196.0,270.0,31.0,0.0,18.0,7.0,NaN,NaN,A
3,368140750,2021-01-01T00:00:24,30.23140,-93.25791,0.0,50.5,272.0,NaN,15.0,NaN,NaN,NaN,NaN,A
4,368170010,2021-01-01T00:00:28,29.57223,-90.59391,0.0,316.2,197.0,NaN,13.0,NaN,NaN,NaN,NaN,A
5,538007847,2021-01-01T00:00:39,30.71185,-88.04063,0.0,11.2,169.0,NaN,5.0,NaN,NaN,NaN,NaN,A
6,338224348,2021-01-01T00:00:19,32.83470,-79.92896,0.1,342.2,511.0,NaN,15.0,NaN,NaN,NaN,NaN,A
7,368134490,2021-01-01T00:00:17,29.56063,-92.61208,0.2,47.5,511.0,NaN,4.0,NaN,NaN,NaN,NaN,A
8,333234990,2021-01-01T00:00:17,27.45076,-80.32039,0.0,264.9,511.0,NaN,0.0,NaN,NaN,NaN,NaN,A
9,368120090,2021-01-01T00:00:16,29.95115,-90.01498,0.1,233.4,511.0,NaN,15.0,NaN,NaN,NaN,NaN,A

Latitude and longitude may shift slightly, whether it be from vessel movement on its mooring or due to GPS inaccuracy. As explained [here](https://gis.stackexchange.com/a/8674), the fourth decimal place represents a change of 11 metres. Given the purpose of our project, we likely don't need anything more accurate than that. The provided data seems to offer up to 5 increments (at least in the 10 provided entries in the above table) but that last decimal is only 1.1 metres, and stationary vessels will appear to be moving slightly even when they aren't being sailed. As an example:

In [77]:
# Preview slight movement of stationary vessels

data2[data2['MMSI'] == 366811570].head()

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
2,366811570,2021-01-01T00:00:23,30.66150,-88.03264,0.0,196.0,270.0,31.0,0.0,18.0,7.0,NaN,NaN,A
6711,366811570,2021-01-01T00:01:53,30.66149,-88.03263,0.0,196.0,271.0,31.0,0.0,18.0,7.0,NaN,NaN,A
14983,366811570,2021-01-01T00:17:13,30.66150,-88.03264,0.0,0.8,266.0,31.0,0.0,18.0,7.0,NaN,NaN,A
22883,366811570,2021-01-01T00:18:22,30.66151,-88.03264,0.0,0.8,266.0,31.0,0.0,18.0,7.0,NaN,NaN,A
25056,366811570,2021-01-01T00:19:32,30.66150,-88.03263,0.0,0.8,266.0,31.0,0.0,18.0,7.0,NaN,NaN,A