In [1]:
# Import necessary modules
import pandas as pd
import numpy as np

In [2]:
# Read data from CSV
data = pd.read_csv('data/AIS_2021_01_01.csv',header="infer")
data1 = data.copy()
data1.head(5)

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
0,338325166,2021-01-01T00:00:20,28.08771,-82.77474,0.0,0.0,511.0,SALT WIFE,IMO0000000,NaN,37.0,NaN,13.0,6.0,NaN,NaN,B
1,368163740,2021-01-01T00:00:18,26.10727,-80.12551,0.0,360.0,511.0,TOTALLY EXCELLENT,IMO0000000,WDL7818,37.0,NaN,18.0,4.0,NaN,NaN,B
2,366811570,2021-01-01T00:00:23,30.66150,-88.03264,0.0,196.0,270.0,NATALIE H,IMO7200245,WDA4637,31.0,0.0,18.0,7.0,NaN,NaN,A
3,368140750,2021-01-01T00:00:24,30.23140,-93.25791,0.0,50.5,272.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,A
4,368170010,2021-01-01T00:00:28,29.57223,-90.59391,0.0,316.2,197.0,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,A

In [3]:
# Convert data types of columns to what they are supposed to be
pd.to_datetime(data1['BaseDateTime'], errors='coerce')
data1[['LAT', 'LON', 'SOG', 'COG', 'Heading', 'VesselType', 'Status', 'Length', 'Width', 'Draft']].apply(pd.to_numeric, errors='coerce')
data1.dtypes

MMSI                  int64
BaseDateTime         object
LAT                 float64
LON                 float64
SOG                 float64
COG                 float64
Heading             float64
VesselName           object
IMO                  object
CallSign             object
VesselType          float64
Status              float64
Length              float64
Width               float64
Draft               float64
Cargo               float64
TranscieverClass     object
dtype: object

In [4]:
# Drop unnecessary columns
data2 = data1.copy()
data2.drop(['VesselName', 'IMO', 'CallSign', 'SOG', 'COG', 'VesselType', 'Status','Length', 'Width', 'Draft', 'Cargo', 'TranscieverClass' ], inplace=True, axis=1)
data2.head(5)

        MMSI         BaseDateTime       LAT       LON  Heading
0  338325166  2021-01-01T00:00:20  28.08771 -82.77474    511.0
1  368163740  2021-01-01T00:00:18  26.10727 -80.12551    511.0
2  366811570  2021-01-01T00:00:23  30.66150 -88.03264    270.0
3  368140750  2021-01-01T00:00:24  30.23140 -93.25791    272.0
4  368170010  2021-01-01T00:00:28  29.57223 -90.59391    197.0

In [5]:
# The ping count for each unique MMSI
var1 = data2['MMSI'].value_counts(sort=False, dropna=True)
var1.head(5)

338325166     466
368163740      57
366811570    1001
368140750    1212
368170010     683
Name: MMSI, dtype: int64

In [8]:
# 0 is the number of MMSI's with only 1 ping. 1 is the number of MMSI's with 2 or greater pings.

def MMSI_COUNT (row):
   if row['MMSI'] >= 2 :
      return 1
   elif row['MMSI'] < 2 :
      return 0
      
data2['MMSI_COUNT'] = data2.apply (lambda row: MMSI_COUNT (row),axis=1)
      
var2 = data2.groupby('MMSI_COUNT').size()
print(var2)

MMSI_COUNT
0        466
1    6624346
dtype: int64

In [7]:
# We need to filter out all the MMSI's with only 1 ping. We need at least 2 pings to know for sure that the ship has moved.